<div class="container mt-4">
  <h2 class="title-h2">Our Products</h2>
  <div class="row products">
    <% @products.each do |product| %>
      <div class="col-md-3">
        <div class="card mb-4">
          <% if product.image.attached? %>
            <div class="img-product">
                <%= image_tag product.image, class: 'card-img-top', alt: product.name %>
            </div>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text"><strong>Price:</strong> $<%= product.price %></p>
            <%= link_to 'View', product_path(product), class: 'btn btn-custom' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
