<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
        <%= image_tag('logo.png', alt: 'Lhannout Logo', style: 'height: 30px; vertical-align: middle; margin-right: 10px;') %>
        <h2 class="mb-0">Lhannout</h2>
      <% end %>
      <%= link_to 'Home', root_path, class: 'nav-link custom-link mx-3' %>
      <% if logged_in? && (current_user.seller? || current_user.seller_buyer?) %>
        <%= link_to 'My Products', my_products_path, class: 'nav-link custom-link mx-3' %>
      <% end %>
      <% if logged_in? && (current_user.buyer? || current_user.seller_buyer?) %>
        <%= link_to 'My Orders', orders_path, class: 'nav-link custom-link mx-3' %>
      <% end %>
    </div>
    <div id="navbarNav" class="d-flex ms-auto">
      <ul class="navbar-nav d-flex align-items-center">
        <% if logged_in? %>
          <li class="nav-item first-nav">
            <% if current_user.profile_image.attached? && current_user.profile_image.persisted? %>
              <%= link_to profile_path do %>
                <%= image_tag current_user.profile_image, size: "40x40", class: "rounded-circle" %>
              <% end %>
            <% else %>
              <%= link_to 'Profile', profile_path, class: 'nav-link' %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link btn btn-custom mx-2' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', login_path, class: 'nav-link btn btn-custom mx-2' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Register', register_path, class: 'nav-link btn btn-custom mx-2' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
